<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstone">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone">
        <activity android:name=".battleship"></activity>
        <activity android:name=".Note9" />
        <activity android:name=".Note8" />
        <activity android:name=".Note7" />
        <activity android:name=".Note6" />
        <activity android:name=".Note5" />
        <activity android:name=".Note4" />
        <activity android:name=".Note3" />
        <activity android:name=".Note2" />
        <activity android:name=".Note1" />
        <activity android:name=".BoardActivity"
            android:parentActivityName=".Checker" />
         <activity
            android:name=".HangGame"
            android:parentActivityName=".Hangman" />
         <activity
            android:name=".Checker"
            android:parentActivityName=".AppLibrary" />
        <activity
            android:name=".Note"
            android:parentActivityName=".AppLibrary" />
         <activity
            android:name=".Hangman"
            android:parentActivityName=".AppLibrary" />
        <activity
            android:name=".Weather"
            android:parentActivityName=".AppLibrary" />
        <activity
            android:name=".Music"
            android:parentActivityName=".AppLibrary" />
        <activity
            android:name=".compass"
            android:parentActivityName=".AppLibrary" />
        <activity
            android:name=".AppLibrary"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
